body {
  background-color: #ae9bfe;
}
.container {
  background-color: white;
  border-radius: 10px;
}
.App-header {
  text-align: center;
  font-family: poppins;
  font-size: 35px;
  margin: 30px 0;
}

.openSource {
  margin: 30px 0;
}
footer div {
  text-align: center;
}
