form {
  display: flex;
  justify-content: center;
}
input {
  border: none;
  border-bottom: 2px solid blueviolet;
  outline: none;
  text-align: center;
  font-size: 25px;
}
h2 {
  font-size: 45px;
}
